<div id="selectversion" class="selectversion" style="display:none">
    <br>
    <input id="board" type="text" placeholder="reks, lars, octopus, etc."/>
    <input type="checkbox" id="hasLegacyCrosh" checked> Can visit chrome-extension://nkoccljplnhpfnfiajclkommnmllphnl//html/crosh.html <i>(ignore extension blocks)</i><br />
		<input type="checkbox" id="hasCrosh" checked> Can visit crosh (chrome-untrusted://crosh) <i>(ignore extension blocks)</i><br />
		<input type="checkbox" id="hasCroshBlock99"> chrome-untrusted://crosh is blocked with "Application blocked by your administrator" (not "crosh is blocked")<br />
		<input type="checkbox" id="hasDriveFS" checked> Has Google Drive files in the file manager app<br />
		<input type="checkbox" id="hasARC" checked> Has Google Play/Android/ARC enabled<br />
    <br>
    <input type="button" onclick="redirect()" value="Confirm">
</div>

<script>
document.getElementById("selectversion").style.display = "block";
</script>

<p id="result_invalidVersion" style="display:none">{{ include.invalidVersion }}</p>
<p id="result_methodUnavailable" style="display:none">{{ include.methodUnavailable }}</p>

<script src="/assets/js/chrome100.json.js"></script>
<script src="/assets/js/selecting.js"></script>

<noscript>Please enable JavaScript to continue with the guide.</noscript>
